name: Fullstack CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  frontend:

    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: camel-frontend

    steps:

      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
          cache-dependency-path: camel-frontend/package-lock.json

      - name: Install dependencies
        run: npm install

      - name: Build app
        run: npm run build --if-present

      - name: Run tests
        run: npm test -- --watch=false


  backend:

    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: camel-backend

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Restore
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore

      - name: Test
        run: dotnet test --no-build
